{% extends 'base.html.twig' %}

{% block title %}Mon panier - SOUCK  {% endblock %}

{% block content %}
<h1> Mon panier </h1>
    <hr>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.
{{ dump(cart) }}

{% endblock %}
