{% extends 'base.html.twig' %}

{% block title %}Mon panier - SOUCK  {% endblock %}

{% block content %}
<h1> Mon panier </h1>
    <hr>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.
{#                {{ dump(cart) }}#}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
        </tr>
        </thead>

        <tbody>
        {% for product in cart %}
            {{ dump(product) }}
        <tr>
            <th>{{ product.product.name }}</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>


{% endblock %}
