{% extends 'base.html.twig' %}

{% block title %}  Mon compte {% endblock %}

{% block content %}
    <h1> Espace Personnel </h1>
    <h1>Mon compte ✅</h1>
    Bienvenue {{ dump(app.user.lastname) }} sur votre compte.<br>

    Votre espace utilisateur personnalisé.<br>
{% endblock %}
