{% extends 'base.html.twig' %}

{% block title %}Nos Produits{% endblock %}

{% block content %}
    <h3>Nos produits</h3>
    <div class="row">


            {% for product in products %}
        <div class="col-md-3">
                {{  dump(product) }}
        </div>
            {% endfor %}


    </div>
{% endblock %}

